/* Footer.css */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(43, 45, 49); /* Transparent background */
    backdrop-filter: blur(10px);
    border-radius: 30px 30px 0 0; /* Creates the curve effect */
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .footer-item:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    color: #ffdd57; /* Change color on hover */
  }
  
  .footer-item span {
    font-size: 12px;
    margin-top: 5px;
  }
  
  .footer-item.active {
    color: #ffdd57; /* Highlight the active item */
    transform: scale(1.2); /* Slightly enlarge active item */
  }
  /* Footer.css */
.footer-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: white; /* Change this to match your app theme */
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer-item {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #e9e5ed;
    transition: color 0.3s;
  }
  
  .footer-item.active {
    color: #000000; /* Active item color */
  }
  
  .footer-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 5px;
    background-color: #ffffff; /* Active background color */
    border-radius: 10px 10px 0 0; /* Curve effect */
    transform: translateX(-50%) scaleX(0); /* Initially hide */
    transition: transform 0.3s ease-in-out; /* Animation effect */
    z-index: -1; /* Keep the line behind the text */
  }
  
  .footer-item.active::before {
    transform: translateX(-50%) scaleX(1); /* Show and scale on active */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }